PYTHONPATH=$PWD/src

LOG_FORMAT_DEFAULT='%(asctime)s [%(name)s] %(levelprefix)s %(message)s'
LOG_FORMAT_ACCESS='%(levelprefix)s %(client_addr)s - "%(request_line)s" %(status_code)s'
CRYPTID_SQLITE_DB=src/data/cryptid.db
